@import 'tailwindcss';

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

.contact input,
.contact textarea {
  padding: 20px 30px;
  border-radius: 10px;
  background-color: #343333;
  border: 1px solid #8d8d8d;
}

.contact label {
  font-size: 14px;
  margin: 5px 0px;
}
