@import 'tailwindcss';

@theme {
  --color-brand-start: #00d1ff;
  --color-brand-end: #1a83ff;

  --color-accent-cyan: #4dfbfb;
  --color-accent-blue: #788eff;

  --color-surface-dark: #201f1f;
  --color-surface-dark-alt: #20292c;

  --color-text-muted: #8d8d8d;
}

body {
  background-color: #ffffff;
}

button:hover {
  cursor: pointer;
}
